@model SudokuModel
@{
    ViewData["Title"] = "Home";
}

@if (Model.Size == null)
{
    <h2>New Puzzle</h2>

    <form class="form-inline" asp-controller="Home" asp-action="Index">
        <div class="form-group">
            <label asp-for="Size"></label>
            <select class="form-control" asp-for="Size" asp-items="new SelectList(Model.AvailableSizes)"></select>
        </div>

        <button type="submit" class="btn btn-default">Create</button>
    </form>
}
else if (!Model.IsValid || Model.Puzzle == null || Model.Puzzle.Any(i => i == null))
{
    <h2>Puzzle (@Model.Size x @Model.Size)</h2>

    @if (!Model.IsValid)
    {
        <div class="alert alert-danger" role="alert" asp-validation-summary="All"></div>
    }

    <form asp-controller="Home" asp-action="Index">
        <input asp-for="Size" type="hidden" />
        <table class="table table-bordered">
            <tbody>
                @{
                    var size = (int)Model.Size;
                    var index = 0;
                }
                @for (int i = 0; i < size; i++)
                {
                    <tr>
                        @for (int j = 0; j < size; j++)
                        {
                            <td>
                                <input class="form-control" asp-for="Puzzle[index]" value="@(index + 1)" />
                            </td>
                            index++;
                        }
                    </tr>
                }
            </tbody>
        </table>

        <button type="submit" class="btn btn-default">Solve</button>
    </form>
}
else
{
    <h2>Puzzle (@Model.Size x @Model.Size) Solved</h2>
    <table class="table table-bordered">
        <tbody>
            @{
                var size = (int)Model.Size;
                var index = 0;
            }
            @for (int i = 0; i < size; i++)
            {
                <tr>
                    @for (int j = 0; j < size; j++)
                    {
                        <td class="text-center">@Model.Puzzle[index]</td>
                        index++;
                    }
                </tr>
            }
        </tbody>
    </table>
    <a href="@Url.Action("Index", "Home")" class="btn btn-default">Start New</a>
}
